:root {
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}
/*
ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */
/*
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small 
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium 
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large 
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title:hover {
    color: white;
    background-color: #1877f2;
    border: 2px solid rgb(0, 0, 0);

}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    margin-top: 80px;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}   */

/* End Components */
/* Start Header */
header {
    position: relative;
  }
  
  nav ul {
    position: relative;
    padding-left: 20px; /* Ajouter un espace pour l'image du logo */
  }
  
  nav ul li:first-child {
    position: absolute;
    top: 10px; /* Ajuster la position verticale au besoin */
    left: 20px; /* Ajuster la position horizontale au besoin */
  }
  
  /* Styles pour l'image du logo */
  nav ul li:first-child img {
    width: 100px; /* Ajuster la largeur de l'image au besoin */
    height: auto; /* Ajuster la hauteur de l'image au besoin */
}

/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url('../imgs/pic2.png');
    background-size: cover;
    position: relative;
    background-position: center top;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40%;
    padding: 45px;
    color: #17657D;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text .content {
        max-width: 100%;
        text-align: center;
    }
}

.landing .text .content h2 {
    font-size: 40px;
    text-align: center;
}

.landing .text .content p {
    font-size: 25px;
    margin-top: 30px;
    line-height: 1.5;
}

/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: var(--main-padding-top) 0 var(--main-padding-bottom) 0;
    flex-wrap: wrap;
}

.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 50%);
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    flex: 1 1 333px;
    max-width: 550px;
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 100%);
}

.articles .box img {
    width: 100%;
    max-width: 100%;
    height: 350px;
}

.articles .box .content {
    padding: 30px;
}

.articles .box .content h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.articles .box .content p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a {
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    margin: 10px auto;
    background-color: #17657D;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition-duration: 0.3s;
    display: table;
    line-height: 40px;
    width: 165px;
}

.articles .box .info a:hover {
    color: white;
    padding: 12px 17px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 100%);
    font-weight: bold;
    background-color: #17657D;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* End Articles */
/* Start work */
.work {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.work .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.work .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 30%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    background: white;
    text-align: center;
    z-index: 1;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 900px;
    height: 450px;
}

.work .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px #17657D;
}

@media (min-width: 1200px) {
    .work .box.popular3 {
        top: -10px;
    }
}

.work .box h3 {
    font-weight: bold;
    margin-top: 10px;
    font-size: 37px;
    letter-spacing: -1px;
    color: #17657D;
}

.work .box .amount {
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.work .box .time {
    color: #777;
}

.work .box p {
    padding: 40px;
    line-height: 27px;
    font-size: 20px;
    color: #656565;
}

/* End work */
/* Start Footer */
.footer {
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: #f2f2f2 !important;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    background-color: #f2f2f2 !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 70px;
}

.footer .box .text {
    line-height: 2;
    color: #000000;
}

.footer .box .links li {
    padding: 17px 0;
    transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #000000;
    transition: var(--main-transition);
}

.footer .box .links li i {
    color: #17657D;
    margin-right: 15px;
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
    /*color: #17657D; */
}

.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:black;
    margin-bottom:0;
}

/*.footer .copyright span {
    color: #17657D;
}

/* End Footer */