/* style du header*/

header {
    padding: 0 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}
nav ul li {
    display: inline;
    margin: 0 40px;
    font-size: 14px;
  }
nav ul .li1 {
    display: inline;
    margin: 0 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.div1
{
    text-align: center;
    padding: 40px 0;
}
h1{
    font-family: 'Playfair Display';
    font-size: 50px;
}
main {
    padding: 20px;
    flex: 1;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.image {
    flex: 1;
    padding-right: 20px;
}
.image img {
    max-width: 100%;
    height: auto;
}
.container form input {
	margin:10px 0;
	padding:15px 10px;
	width:65%;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
} 
.ppp2{
    text-align: center;
}
.ppp1
{
    margin:10px 0;
	padding:15px 10px;
	width:65%;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
    text-align: center;
    background-color: #bbb;
    color: #000;
    border: 1px solid #bbb;
}
.ppp1:hover
{
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* style de section du a propos*/

.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
} 
.container1 .title_1{
  text-align: center;
  color : #17657D;
  font-size: 45px;
  margin-left:3rem;
}
.prag_1{
    flex: 1;
    margin-inline: auto;
    padding-inline: 1rem;
    font-size: 18px;
    font-family: 'Nunito';
    color: black;
    text-align: center;
    margin-top: 6rem;
    margin-left:3rem;
    margin-right:1rem;
}
.prag_1 .phrase{
    font-weight: bolder;
}

/*footer*/

.footer-basic {
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: #f2f2f2;
    color:black;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
.footer-basic li {
    padding:0 10px;
  }
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:0.5px solid #f2f2f2;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.list-inline-item{
    display: inline-block;
    margin-right: 1rem;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:black;
    margin-bottom:0;
}
/* style de formulaire */

.formulaire{ 
    margin: 0 auto;
    margin-bottom: 20px;
    /*border: #000000 solid 2px; */
    background: #fff;
    max-width: 550px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    font-family: 'Nunito';
}
.form form{
    margin: 20px 0;
    padding: 0 20px;
}
.form form .error-text{
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
}
.form form .name-details{
    display: flex;
}
.form .name-details .field:first-child{
    margin-right: 10px;
}
.form .name-details .field:last-child{
    margin-left: 10px;
}
.form form .date-details{
    display: flex;
}
.form .date-details .field:first-child{
    margin-right: 10px;
}
.form .date-details .field:last-child{
    margin-left: 75px;
}
.form form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form form .field input{
    outline: none;
}
.form form .image input{
    font-size: 17px;
}
.form form .button input{
    height: 45px;
    border: none;
    color: #fff;
    font-size: 17px;
    background: #333;
    border-radius: 20px;
    cursor: pointer;
}
.form form .button input:hover{
    color: #fff;
    background: black;
}
.form form .field i{
    position: absolute;
    right: 15px;
    top: 70%;
    color: #ccc;
    cursor: pointer;
    transform: translateY(-50%);
}
.form form .field i.active::before{
    color: #333;
    content: "\f070";
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    padding-bottom: 15px;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}
.form .field .label1{
    font-family: 'Merienda';
    text-align: center;
    font-size: 19px;
}